@use "../abstract" as *;


.update{
        & ul{
            & li{
                display: inline;
                margin-left: 15px;
                padding: 12px 5px;
                border-radius: 5px;
                transition: .3s;
                &:hover{
                    background: #e94e38;
                    color: #fff;
                }
                &:first-child{
                    margin-left: 0;
                }
                & a{
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
  }

.filter-form{
    & a{
        padding: 12px 20px;
        border: 1px solid #cad2d3;
        border-radius: 30px;
        margin-left: -20px;
        & i{
            margin-left: 10px;
            color: #d5dbdc;
        }
    }
}

.filter-Area {
    padding: 15px 0px;
    border-bottom: 2px solid #e2dee0;
  }

  .filter-form {
	margin-right: 20px;
}