@use "../abstract" as *;

.header{
    & .logo{
        
    }
    & .main-menu{
        text-align: center;
        & .menu-toggle-btn{
            float: right;
            color: #000;
            font-size: 26px;
            display: none;
        }
        & .navigation-menu{

            & a{
                padding:20px 10px ;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 15px;
                color: #96a6a7;
                transition:all .3s;
                border-radius: 5px;
                &:hover{
                    background: #e94e38;
                    color: #fff;
                }
            }
        }
    }
    & .login-btn{
        & .search-icon{
            padding: 25px;
            background: #e2dee0;
            color: #fff;
            font-size: 16px;
            transition: .3s;
            &:hover{
                color: #e94e38;
            }
        }
        & .login{
            background: #e94e38;
            color: #fff;
            padding: 25px;
            margin-left: -4px;
            transition: all .5s;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                left: 100%;
                top: 0;
                bottom: 0;
                right: -145px;
                background: #e94e38;
            }
            & i{
                margin-right: 10px;
            }
        }
    }
}