@use "../abstract" as *;
.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #5b5b56;
	border-radius: 30px;
	border: solid 1px #e8e8e8;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 53px;
	line-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
}
.current {
	color: #fff;
	font-size: 18px;
}
.nice-select::after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: '';
	display: block;
	height: 7px;
	margin-top: -4px;
	pointer-events: none;
	position: absolute;
	right: 12px;
    font-size: 18px;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 7px;
}
.form-control:focus {
	color: none;
	background-color: #5b5b56;
	border-color: none;
	outline: 0;
	box-shadow: 0 0 0 0 ;
}